body > .content {
    display: grid;
    gap: 2px;

    grid-template-rows: auto;
    grid-template-columns: min-content auto;

    max-height: calc(100vh - 64px);
    overflow: hidden;
}
body > .content > #sidebar {
    display: grid;
    grid-template-columns: calc(48px + 2px) calc(256px + 2px);
    grid-template-rows: auto;
}
body > .content > #sidebar.menu-hidden {
    grid-template-columns: calc(48px + 2px);
}
body > .content > #sidebar.menu-hidden > #sidebar-menu {
    display: none;
} 
body > .content > #sidebar.menu-hidden > #sidebar-list {
    border-right-color: #111;
} 

body > .content > #sidebar > #sidebar-list {
    border-right-style: solid;
    border-right-color: #222;
    border-right-width: 2px;
    
    background-color: #333;
    width: 48px;
    display: flex;
    flex-direction: column;
    user-select: none;
}
body > .content > #sidebar > #sidebar-list > span {
    height: 48px;
    width: 48px;
    display: grid;
    border-bottom-style: solid;
    border-bottom-color: #222;
    border-bottom-width: 2px;
}
body > .content > #sidebar > #sidebar-list > span:hover {
    background-color: #444;
}
body > .content > #sidebar > #sidebar-list > span:active {
    background-color: #333;
}
body > .content > #sidebar > #sidebar-list > span::after {
    content: "";
    height: 24px;
    width: 24px;
    background-image: url("../../assets/sidebar.png");
    background-size: 96px;
    image-rendering: pixelated;
    display: block;
    align-self: center;
    justify-self: center;
}
body > .content > #sidebar > #sidebar-list > span#extensions::after {
    background-position-x: -24px;
}
body > .content > #sidebar > #sidebar-list > span#placeholder1::after {
    background-position-x: -48px;
}
body > .content > #sidebar > #sidebar-list > span#placeholder2::after {
    background-position-x: -72px;
}

body > .content > #sidebar > #sidebar-list > span > #tooltip {
    display: none;
}
body > .content > #sidebar > #sidebar-list > span:hover > #tooltip {
    position: fixed;
    display: block;
    align-self: center;
    left: 64px;

    height: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #111;
    background-color: #333;
    font-size: 14px;
}
body > .content > #sidebar > #sidebar-list > span > #tooltip::before {
    content: "";
    position: fixed;
    left: 30px;
    display: block;
    height: 8px;
    width: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #111;
    background-color: #333;
    rotate: 45deg;
    border-right-color: transparent;
    border-top-color: transparent;

    transform: translateX(24px) translateY(-18px);
}

body > .content > #sidebar > #sidebar-menu {
    border-right-style: solid;
    border-right-color: #111;
    border-right-width: 2px;
    
    background-color: #333;
    width: 256px;
    user-select: none;

    display: grid;
    grid-template-rows: 32px auto;
    grid-template-columns: auto;
    gap: 8px;
}
body > .content > #sidebar > #sidebar-menu > .title {
    border-bottom: 2px #222 solid;
    padding: 8px;
    line-height: 1;
}
body > .content > #sidebar > #sidebar-menu > .title > #title {
    font-family: "Five";
    font-size: 12px;
    display: block;
    color: white;
}

body > .content > #content {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 0px auto;
    max-height: calc(100vh - 64px);
}
body > .content > #content > #codeArea {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: unset;
    resize: none;
    font-size: 16px;
    padding: 16px;
    padding-left: 0px;
    overflow-y: hidden;
    line-height: 1;

    grid-row: 2;
    grid-column: 2;
}
body > .content > #content > #lineNumbers {
    display: block;
    padding: 16px;
    font-size: 16px;
    line-height: 1;
    width: fit-content;
    font-family: monospace;
    overflow-y: hidden;

    grid-row: 2;
    grid-column: 1;
    text-align: right;
    opacity: 0.5;

    user-select: none;
}