/*
    <div class="footer">
        <div class="save-location" id="version-control">
            <span class="icon"></span>
            <span id="path">BastionMC > Netherrack</span>
        </div>
        <div class="save-location" id="world">
            <span class="icon"></span>
            <span class="minecraft-icon"></span>
            <span id="path"> > fabric-1.20.4 > saves > Datapack-Test-World</span>
        </div>
    </div>
*/


body > .footer {
    background-color: #333;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 16px;
    color: white;

    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #111;
}

body > .footer > .save-location {
    display: flex;
    flex-direction: row;
    gap: 2px;
    user-select: none;
    cursor: pointer;
}
body > .footer > .save-location:hover,
body > .footer > .save-location:active {
    background-color: #444;

    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin: -4px;
    margin-left: -16px;
    margin-right: -16px;
}
body > .footer > .save-location:active {
    background-color: #333;
}

body > .footer > #gap {
    width: 2px;
    height: 24px;
    margin-top: -4px;
    background-color: #222;
}

body > .footer > .save-location > .icon,
body > .footer > .save-location > #path > .icon {
    display: block;
    image-rendering: pixelated;
    background-size: 64px;
    height: 16px;
    width: 16px;
    background-image: url("../../assets/save_locations.png");
}
body > .footer > .save-location#version-control > .icon {
    background-position-x: 0px;
}
body > .footer > .save-location#world > .icon {
    background-position-x: -16px;
}
body > .footer > .save-location > #path {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
body > .footer > .save-location > #path >  .icon#saves {
    background-position-x: -32px;
}
body > .footer > .save-location > #path > .icon#folder {
    background-position-x: -48px;
    width: 10px;
}

body > .footer > .save-location > #tooltip {
    display: none;
}
body > .footer > .save-location:hover > #tooltip {
    position: fixed;
    bottom: 42px;
    display: block;
    padding: 8px;
    height: auto;
    width: auto;
    min-width: 256px;
    border-width: 2px;
    border-style: solid;
    border-color: #111;
    background-color: #333;

    display: flex;
    flex-direction: column;
    gap: 4px;
}
body > .footer > .save-location:hover > #tooltip::before {
    content: "";
    position: fixed;
    bottom: 34px;
    display: block;
    height: 16px;
    width: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #111;
    background-color: #333;
    rotate: 45deg;
    border-top-color: transparent;
    border-left-color: transparent;

    transform: translateX(16px) translateY(-16px);
}

body > .footer > .save-location > #tooltip > .title {
    font-family: "Five";
    color: white;
    margin-left: 4px;
}
body > .footer > .save-location > #tooltip > .full-path {
    height: 16px;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #222;

    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-color: #111;
    border-bottom-color: #555;
}
body > .footer > .save-location > #tooltip > .shortcut {
    text-align: right;
}