@import url(titlebar.css);
@import url(footer.css);
@import url(font.css);
@import url(icons.css);
@import url(content.css);

body {
    font-family: "Noto", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0px;
    border: #111 2px solid;

    height: calc(100vh - 4px); /* account for border */
    background-color: #222;
    color: #ccc;

    display: grid;
    grid-template-rows: 34px calc(100% - 60px) 26px;
    overflow: none;
}
html {
    overflow: none;
}

.shortcut {
    color: #aaa;
}