@font-face {
    font-family: "Noto";
    src: url("../../assets/noto_regular.ttf");
}
@font-face {
    font-family: "Noto Bold";
    src: url("../../assets/noto_bold.ttf");
}
@font-face {
    font-family: "Noto Italic";
    src: url("../../assets/noto_italic.ttf");
}
@font-face {
    font-family: "Noto Bold Italic";
    src: url("../../assets/noto_bold_italic.ttf");
}
@font-face {
    font-family: "Five";
    src: url("../../assets/five.otf");
}
@font-face {
    font-family: "Five Bold";
    src: url("../../assets/five_bold.otf");
}
@font-face {
    font-family: "Seven";
    src: url("../../assets/seven.otf");
}
@font-face {
    font-family: "Ten";
    src: url("../../assets/ten.otf");
}