/*
    <div class="footer">
        <div class="save-location" id="version-control">
            <span class="icon"></span>
            <span id="path">BastionMC > Netherrack</span>
        </div>
        <div class="save-location" id="world">
            <span class="icon"></span>
            <span class="minecraft-icon"></span>
            <span id="path"> > fabric-1.20.4 > saves > Datapack-Test-World</span>
        </div>
    </div>
*/


body > .footer {
    background-color: #333;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 16px;
    color: white;
}

body > .footer > .save-location {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

body > .footer > #gap {
    width: 2px;
    height: 24px;
    margin-top: -4px;
    background-color: #222;
}

body > .footer > .save-location > .icon,
body > .footer > .save-location > #path > .icon {
    display: block;
    image-rendering: pixelated;
    background-size: 64px;
    height: 16px;
    width: 16px;
    background-image: url("../../assets/save_locations.png");
}
body > .footer > .save-location#version-control > .icon {
    background-position-x: 0px;
}
body > .footer > .save-location#world > .icon {
    background-position-x: -16px;
}
body > .footer > .save-location > #path {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
body > .footer > .save-location > #path >  .icon#saves {
    background-position-x: -32px;
}
body > .footer > .save-location > #path > .icon#folder {
    background-position-x: -48px;
    width: 10px;
}